@*Ciao ragazzi, andiamo avanti con l’applicazione per gestire la nostra pizzeria.
Lo scopo di oggi è quello di rendere dinamici i contenuti che abbiamo come html statico nella pagina con la lista delle pizze.
Creiamo prima un nostro controller chiamato PizzaController e utilizziamo lui d’ora in avanti.
L’elenco delle pizze ora va passato come model dal controller, e la view deve utilizzarlo per mostrare l’html corretto.
Gestiamo anche la possibilità che non ci siano pizze nell’elenco: in quel
caso dobbiamo mostrare un messaggio che indichi all’utente che non ci sono pizze presenti nella nostra applicazione.
Ogni pizza dell’elenco avrà un pulsante che se cliccato ci porterà a una pagina che mostrerà i dettagli di quella singola pizza.
Dobbiamo quindi inviare l’id come parametro dell’URL, recuperarlo con la action,
caricare i dati della pizza ricercata e passarli come model.
La view a quel punto li mostrerà all’utente con la grafica che preferiamo.
Ps. visto che abbiamo cambiato il controller sul quale lavoriamo, ricordiamoci
di cambiare anche il “mapping di default” dei controller...altrimenti quale pagina viene
caricata se richiamo l’url “/” della nostra webapp?*@

@model List<Pizza>

<div>
    <h1 class="text-center">Le nostre Pizze!</h1>
    @if(Model.Count() > 0)
    {
        <div class="row row-cols-5">
            @foreach (Pizza pizza in Model)
            {
                <div class="col">
                    <div class="card">
                        <img src="@pizza.Image" class="card-img-top" alt="@pizza.Name">
                        <div class="card-body">
                            <h5 class="card-title">@pizza.Name</h5>
                            <div class="card-text">@pizza.Price.ToString("0.00") €</div>
                            <div class="card-text @(pizza.IsAvailable ? "text-success" : "text-danger")">@(pizza.IsAvailable ? "Disponibile" : "esaurito")</div>
                            <a href="@Url.Action("Detail", new {id = pizza.Id})" class="btn btn-primary">vedi dettaglio</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <h3>Nessuna pizza ancora disponibile...</h3>
    }
</div>